.container-archivos {
    margin: 0;
    display: grid;
    place-items: center;
    color: #1f4583;
    background-image: linear-gradient(175deg, #ffd66f 0, #faca61 25%, #f2bd53 50%, #eab045 75%, #e3a437 100%);
  }
  .aceptados {
    margin: 0;
    display: grid;
    place-items: center;
    color:#22c55e;
    font-family: "Euclid Circular A", "Poppins";
    background-image: linear-gradient(180deg, #b9f27d 0, #a4ec79 16.67%, #8be373 33.33%, #6cd86c 50%, #47cd66 66.67%, #00c464 83.33%, #00bd65 100%);
  }
  .rechazados {
    margin: 0;
    display: grid;
    place-items: center;
    color:rgb(231, 100, 12);
    font-family: "Euclid Circular A", "Poppins";
    background-image: linear-gradient(180deg, #f19583 0, #e68379 25%, #d86c6c 50%, #c95561 75%, #bd425b 100%);
  }
  
  
  .cards-archivos {
    display: flex;
    gap: 30px;
    margin-top: 5%;
    
  }
  
  article {
    position: relative;
    width: 250px;
    height: 300px;
  
  }
  
  article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 26px;
  }
  
  article header h2 {
    font-size: 20px;
  }
  
  article .front,
  article .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    padding: 24px;
    transition: 0.6s;
    cursor: pointer;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
 .check {
    position: absolute;
    scale: 0;
  }
  
  .check:checked ~ article .back {
    transform: rotateY(0);
  }
  
  .check:checked ~ article .front {
    transform: rotateY(-180deg);
  }
  
  article var {
    font-style: normal;
    font-size: 80px;
    line-height: 1;
  }
  
  article h3 {
    margin: 0 0 30px;
    font-weight: 500;
  }
  
  #summary :is(var, h3) {
    color: #3b82f6;
  }
  
  #overdue :is(var, h3) {
    color: #ef4444;
  }
  
  #features :is(var, h3) {
    color: #22c55e;
  }
  
  article :is(h4, p) {
    opacity: 0.5;
    font-size: 20px;
  }
  
  article p {
    margin-top: 76px;
  }
  